<p>Bienvenue sur mon Index HTML</p>
<p><span style="font-size: 0.9em;"><span style="white-space: pre;"> </span><span style="color: #ff0000;"><strong>personnalis&eacute; !&nbsp;</strong></span></span></p>
<div id="gtx-trans" style="position: absolute; left: 180px; top: 56.2px;"></div>
